<form class="input-group">
	<input class="form-control" id="new-todo" type="text" placeholder="Please add new task" />
	<div class="input-group-btn">
		<input class="btn" type="submit" value="Submit" />		
	</div>
</form>
<ul>
	<!-- todo items -->
</ul>